html,
body {
	margin:auto;
	padding:0;
	height:100%;
    font-family : 'Futura';

}
body {

  overflow-y: scroll;
  font-weight:400;
position: relative;
  background-color:rgb(50,50,50);


.textme{
color: black;
}

}

#wrapper
{
width: 75%;
margin:auto;
margin-top : -5px;
min-height:100%;
text-align: center;
background-color:rgb(50,50,50);

}


header
{
text-align: center;
padding-bottom: 0px;
width:100%;
margin:0px;
background-color: white;

padding-top:20px;
margin-top:30px;
}



#nav
{
margin-top:-15px;
height:35px;
}


#content
{
padding-bottom:30%; /* Height of the footer element */
}

.aboutme{
width:100%;
margin: auto;
text-align: left;
text-indent: 15px;
color : black;
text-align:left;
font-weight:light;
font-family:titilliumweb;
}

@media all and (max-width: 600px) {
#wrapper{
width: 80%;
padding: 2%;
position: center;
margin: auto;
}
}

#footer {
	width:100%;
	height:5%;
	text-align: center;
	bottom:0px;
	left:0;
	color:rgb(220,220,220);
}

.photome {
position: center;
width:180px;
height:220px;
margin-left:2%;
margin-right:5%;
float:left;

}

@media all and (max-width: 600px) {
.photome {
width:100%;
height:220px;
margin: 10%;
float: center;
}
}

.aboutme{
	width:90%;
	padding:1%;
}



#gitlink
{
text-align: center;
}

#gitlink ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
	width: 100%;
}

#gitlink li {
padding: 10px 30px ;
margin: auto;
}

@media all and (max-width: 600px) {
#gitlink li {
float: left;
padding: 0px 10px ;
margin: auto;
}
}

.entete {
    list-style-type: none;
     padding: 0px;
    background-color: rgb(0,210,203);
  width: 100%;
  box-shadow: 0px 1px 0px 0px rgb(200,200,200);
 height:35px;

}

.entete_li, .selected{
  width:19.5%;
  display:inline-block;
  font-family:Times;
 height:35px;
 list-style-type: none;

}

.files_li {
font-size: 95%;
white-space: nowrap;
}
.files_li a {
color: red;
}

@media all and (max-width: 600px) {
.entete {
  width:100%;
   list-style-type: none;
}
}

@media all and (max-width: 600px) {
.entete_li {
  width:25%;
   list-style-type: none;
}
}

.entete_li a {
     padding:8px;
   text-align: center;
   font-size:22px;
    text-decoration: none;
    color:white;
 font-family:Futura;
 letter-spacing:2px;
  list-style-type: none;
	}

@media all and (max-width: 600px) {
.entete_li a {

  font-size: 85%;
}
}

.entete_li a:hover {
    background-color:rgb(100,210,203);
    color:white;
    text-shadow:1px 1px 4px rgb(20,20,20);
    height:18px;
    overflow:visible;
}

.selected a {
    padding:8px;
   text-align: center;
   font-size:22px;
    text-decoration: none;
    color:white;
 font-family:Futura;
 letter-spacing:2px;
  list-style-type: none;
    color:white;
    text-shadow:1px 1px 4px rgb(20,20,20);
    height:18px;
    background-color:rgb(150,210,203);

    overflow:visible;
}


.academictitle
{
background-color:rgb(50,50,50);
height:30px;
margin-top:20px;
 border-left: 2px solid rgb(200,200,200);
border-right: 2px solid rgb(200,200,200);
padding-top:15px;


}


.date {
font-family: titilliumweb;
color: rgb(160,160,160);
font-size:13px;


}


.field
{
font-family: futura;
text-align:left;
margin-left:100px;
 list-style-type: none;

}

.list {
    list-style-type:none;

  }


.view
{
    text-indent: 15px;

text-align:left;
font-weight:light;
font-family:titilliumweb;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-family: futura;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1,1;
}

h1 {
  font-size:20px;
  font-family:coalition;
  letter-spacing:2px;
  color:rgb(80,80,95);
  line-height:2;
}

h2 {
  color:rgb(230,230,230);
  font-size:35px;
  text-align:center;

  font-family:Futura;
  letter-spacing:4px;


}

.content
{
background-color: rgb(50,50,50);
width: 100%;
box-shadow: 2px 2px 4px rgb(50,50,50);

}

#para {
font-family:futura;
font-size:15px;
color:rgb(60,60,60);


}

.hr
{
width:30%;
}

.hr2
{
width=30%;
margin-left:300px;
}

 h4, h5, h6 {
  color:#494949;

}

h3
{
color:rgb(50,200,189);
font-size:21px;
}

a {
  color:rgb(50,189,170);
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

.projecttitle
{
padding:2px;
color:rgb(200,160,20);
margin-bottom:2px;
font-size:18px;
}

.projecttitle a
{

padding:2px;
color:rgb(200,160,20);
margin-bottom:2px;
font-size:18px;
}

.check a
{
color:rgb(70,70,70);
font-size:13px;
}

.text
{
text-indent: 15px;
font-size:19px;
width:70%;
font-family: titilliumweb;
color:rgb(60,60,60);
indent-

}


.award{
color: red;
color:rgb(240,160,20)
}
.projecttitle a:hover
{
background-color: white;
color:rgb(240,160,20);


}

a:hover small {
  color:#777;
}

.sentiment
{
font-size:16px;
color:rgb(200,160,20);
}



header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}


small {
  font-size:11px;
}

hr {
  border:2px;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
  color:rgb(50,200,189);
}

 .project1
 {
 padding-top:40px;
 margin-bottom:2px;
 box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.4), 0 6px 20px 0 rgba(200,200, 200, 0.19);
 padding-bottom:20px;
 background-color: white;
 }

 .project
 {
 margin-bottom:2px;
 box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.4), 0 6px 20px 0 rgba(200,200, 200, 0.19);
 padding-bottom:5px;
 background-color: white;
 padding-left:40px;
 padding-top:40px;
 padding-bottom:20px;
 }
  .projectn
 {
 margin-bottom:2px;
  box-shadow: 0 4px 8px 0 rgba(200, 200, 200, 0.4), 0 6px 20px 0 rgba(200,200, 200, 0.19);
 padding-bottom:5px;
 background-color: white;
 padding-left:40px;
 padding-top:40px;
 padding-bottom:20px;
 }

 .blackproject
 {
 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4), 0px 6px 20px 0 rgba(0,0,0, 0.19);
 margin-bottom:40px;


 }

 .project_title
 {
 color:rgb(255,255,255);
 }

 .view2
 {
width:100%;
text-align:left;
color: rgb(160,160,160);
font-family:titilliumweb;

 }

.intro
{
font-family:titilliumweb;
font-size:17px;
color:grey;
}

.here
{
font-family:titilliumweb;
font-size:16px;
color:rgb(170,170,170);
text-align:center;
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}
